.markdown-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  }
  
.markdown-buttons button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.markdown-buttons button:hover {
  background-color: #ccc;
}